# What standard to use. This is optional and defaults to VHDL2008.
standard = "2008"

# File names are either absolute or relative to the parent folder of the vhdl_ls.toml file
[libraries]
ex1.files = [
    'ex1/test.vhdl',
]
pkg.files = [
    'ex1/package.vhdl',
]
ex2.files = [
    'ex2/ex2.vhdl',
    'ex2/ex2_body.vhdl',
]
ex2.files = [
    'ex3/ex3.vhdl',
]

# Wildcards are supported
#lib3.files = [
    #'test/*.vhd',
    #'src/*.vhd',
    #'src/*/*.vhd',
#]

# Libraries can be marked as third-party to disable some analysis warnings, such as unused declarations
#UNISIM.files = [
    #'C:\Xilinx\Vivado\2023.1\data\vhdl\src\unisims\unisim_VCOMP.vhd',
#]
#UNISIM.is_third_party = true

[lint]
unused = 'error' # Upgrade the 'unused' diagnostic to the 'error' severity
unnecessary_work_library = true

# The initial version of this file was copied verbatim from the `vhdl_ls`
# README.md.
